*
 {
     color: black;
     background-color: #fff;
     text-align: center;
 }
 .s-logo 
 {
     font-size: 30px;
 margin-top: 3% ;
margin-left: -20%;
    position: absolute;
 }

#head .header li
{
    display: inline;
    float: right;
    margin: 40px;
    position: relative;
    
}

.logo
{
    margin-left: 20%;
    
}
.header textarea
{
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
}
a{
    text-decoration: none;
}
li
{
    list-style: none;
}
.navbar
{
    text-align: center;
    margin-top: 20px;
}
.navbar li
{
    display: inline-block;
    margin: 10px 50px;
    font-size: 20px;
    color: f4f4f2;
}

i
{
    margin-right: 10px;
}

.barner img
{
    margin-top: 50px;
    width: 99.9%;
}

/* detail */

#detail{
    text-align: center;
    background-color: #ffff;
    padding-top: 20px;
    margin-bottom: 50px;
}
#detail h2
{
    font-size: 40px;
}
.detail__SP
{
    margin-bottom: 20px;
}
.detail__SP img
{
    width: 20%;
    margin-right: 20px;
}
.detail__SP img:hover
{
    border: 1px solid gray;
    width: 22%;
}

.detail__TL.xt
{
    text-align: right;
    margin: 20px 0;
}

.btn
{
    margin-top: 5%;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
}
.btn:hover
{
    background-color: yellow;
    color: red;
}
